.menu-wrapper {
    container-type: inline-size;
    width: 75vw;
    max-width: 1024px;
}
.menu {
    align-items: center;
    aspect-ratio: 1024/768;
    background-image: url("/menu/mainmenu24.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 0 calc(16 / 1024 * 100cqw);
    width: 75vw;
}
.logo-container {
    padding-top: calc(40 / 1024 * 100cqw);
    height: calc((40 / 1024 * 100cqw) + 256px);
}
.menu-container {
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}
.bar-container {
    align-items: center;
    display: flex;
    height: calc(65 / 1024 * 100cqw);
    justify-content: flex-end;
    padding: 0 16px;
    width: 100%;
}
.footer {
    height: calc(100 / 1024 * 100cqw);
    width: 100%;
}